.DS_Store
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.vscode/
.ionide/
.vs/
.env
deploy/
obj/
bin/
output/
packages/
*.orig
*.DotSettings.user
*.trx 
**/.bin/
**/.vite/
**/node_modules/**
**/*.nupkg
*.env
**/.env

